{% extends 'inicial.html' %}
{% block title %} Estoque - Controle de Estoque{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-offset-3 formulario">
        <img  src="{{url_for('.static', filename='img/lightbulbs.gif')}}"
             class="img-responsive img" width="240px" height="240px"/>

        <img src="{{url_for('.static', filename='img/packages.png')}}"
             class="img-responsive displayed" width="180px" height="180px"/>
        <div class="letras">
            <p class="l-direita">sEU ESTOqUe ONLINE!</p>
        </div>
    </div>
</div>
{% endblock %}