{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/estoque.css')}}">
{% endblock %}

{% block scripts %}
    <script src="{{url_for('.static', filename='js/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('.static', filename='js/jquery/dist/jquery.Aplus.js')}}"></script>
    <script src="{{url_for('.static', filename='js/estoque.js')}}"></script>
    {{super()}}
{% endblock %}

{% block navbar %}
<div class="header">
    <nav class="navbar">
        {% if 'usuario' in session %}
            <li><a href="/sair">Sair</a></li>
            <li><a href="/admin">Admin</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="/registro">Registro</a></li>

        {% endif %}
    </nav>
</div>
{% endblock %}
