{% extends 'inicial.html' %}
{% block title %}Estoque - Login{% endblock %}


<!-- Navbar admin -->
{% block navbar %}


    <div class="header">
		<nav class="navbar">
			<li><a href="/registro">Registro</a></li>
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        </nav>
    </div>


{% endblock %}

{% block content %}


<div class="container">
	<div class="col-sm-offset-3 formulario">

	<img src="{{url_for('.static', filename='img/spok.png')}}"
		 class="img-responsive img-circle img" width="140px" height="140px" />

	<form method="POST" class="form-inline" role="form">

		<div class="form-group">
			<label class="sr-only" for="">label</label>
			<input type="text" name="user" class="form-control input input-lg"
				   placeholder="Usuário...">
		</div>

		<div class="form-group">
			<label class="sr-only" for="">label</label>
			<input type="password" name="user-pass" class="form-control input input-lg" placeholder="Senha...">
		</div>

		<button type="submit" class="btn btn-lg btn-primary">Entrar</button>
	</form>
		<br>
		{% if error %}
		<div class="alert alert-danger col-sm-7 text-center">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<strong>Login</strong> ou <strong>senha</strong> errado, tente novamente.
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}