@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic);
@import url("search.css");

body {
    font-family: 'Lato', sans-serif;
}

.textos {
    font-weight: 100;
    position: relative;
    top: 200px;
}

.letras {
    font-weight: 300 !important;
}

.l-direita {
    margin-left: 54%;
}

.home {
    font-size: 85px;
}

/* --------------
    Navbar / Menu
-----------------------*/

.navbar {

}

.navbar li {
    display: inline;
    float: right;
}

.navbar li a {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 10px;
}

/* --------------
    Formulario / img
-----------------------*/
.img {
    position: relative;
    bottom: 60px;
    margin-left: 20%;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.formulario {
    position: relative;
    top: 150px;
}

.quebra-linha {
    margin-top: 50px;
}

/* tabelas */
.td {
    word-spacing: 6px;
}

/* cores*/
.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.saddlebrown {
    color: saddlebrown;
}

/*------------
    rodape
--------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.panel {
    margin-bottom: initial;
}