{% extends 'inicial.html' %}
{% block title %} Estoque - Adicionar Anotações {% endblock %}

<!-- Navbar admin -->
{% block navbar %}
<div class="header">
    <nav class="navbar">
        <li><a href="/logout">Sair</a></li>
        <li><a href="/admin"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/search">Consultar</a></li>
    </nav>
</div>
{% endblock %}

{% block content %}


<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <img src="{{url_for('.static', filename='img/packages.png')}}" class="img-responsive img" width="128px" height="128px" >

        <form method="POST">
            <fieldset>
                <legend>Informações da Compra</legend>

                {% for p in compra %}
                <div class="form-group">
                    <label for="nomeProduto">Nome do Produto:</label>
                    <input type="text" id="nomeProduto" class="form-control"
                           value="{{p.produto.nome}}"
                           name="editNomeProduto" disabled/>
                    <br>

                    <label for="qtdProduto">Quantidade:</label>
                    <input type="number" id="qtdProduto" class="form-control" value="{{p.qtd_produto}}"
                           name="qtdProduto" readonly/>
                    <br>

                    <label for="vlrCompra">Preço de Compra:</label>
                    <input type="number" id="vlrCompra" class="form-control" value="{{p.vlr_compra}}"
                           name="vlrCompra" readonly/>
                    <br>

                    <label for="extt">Anotações:</label>
                    <textarea id=extt name=editNotas rows=5 cols=40 class="form-control" >{{p.notas}}</textarea>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-lg btn-primary">Aplicar</button>
            </fieldset>
        </form>

        <br>

    </div>
</div>
{% endblock %}