{% extends 'inicial.html' %}
{% block title %}Estoque - Home{% endblock %}

<!-- Navbar admin -->
{% block navbar %}
<div class="header">
    <nav class="navbar">
        {% if 'usuario' in session %}
        <li><a href="/logout">Sair</a></li>
        <li><a href="/admin"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/purchaseProduct">Compra de Produto</a></li>
        <li><a href="/addProduct">Cadastro de Produto</a></li>
        <li><a href="/processingAllPurchases" class="processarTodasCompra">Processar Todas Compras</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/registro">Registro</a></li>
        {% endif %}
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <img src="{{url_for('.static', filename='img/packages.png')}}" class="img-responsive" width="128px"
                 height="128px">

            <form action="search" method="post" accept-charset="utf-8">
                <div id="imaginary_container procurar">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Procurar produto" name="procurar">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-primary quebra-linha">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de produtos comprados</h3>
        </div>

        <div class="panel-body">

            <table class="table able-hover table-bordered">
                <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Quantidade</th>
                    <th>Preço de Compra</th>
                    <th>Preço Médio</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                    {% for p in compra %}
                    {% if p.status_id == 1 %}
                    <tr class="alert alert-danger">
                    {% elif p.status_id == 2 %}
                    <tr class="alert alert-warning">
                    {% elif p.status_id == 3 %}
                    <tr class="alert alert-success">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td>{{p.produto.nome}}</td>
                    <td width="5%">{{p.qtd_produto}}</td>
                    <td width="15%">R$ {{p.vlr_compra}}</td>
                    {% if p.vlr_medio > 0 %}
                    <td width="15%">R$ {{p.vlr_medio}}</td>
                    {% else %}
                    <td width="15%"></td>
                    {% endif %}
                    <td width="5%" class="td">
                        {% if p.status_id == 1 %}
                            <a href="/purchaseProcessing/{{p.id}}" class="processarCompra" title="Processar Compra"><span class="glyphicon glyphicon-arrow-up saddlebrown"></span></a>
                            <a href="/addNotes/{{p.id}}" title="Informações da Compra"><span class="glyphicon glyphicon-glass saddlebrown"></span></a>
                        {% elif p.status_id == 2 %}
                            <a href="/purchaseProcessing/{{p.id}}" class="processarCompra" title="Processar Compra"><span class="glyphicon glyphicon-arrow-up green"></span></a>
                            <a href="/addNotes/{{p.id}}" title="Informações da Compra"><span class="glyphicon glyphicon-glass green"></span></a>
                        {% elif p.status_id == 3 %}
                        <span class="glyphicon glyphicon-arrow-up black"></span>
                        <span class="glyphicon glyphicon-glass black"></span>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-right">
        <h4><span class="label label-success">Executados</span>
            <span class="label label-warning">Em execução</span>
            <span class="label label-danger">Aguardando</span></h4>
    </div>
</div>

{% endblock %}