{% extends 'inicial.html' %}
{% block title %}Estoque - Compra de Produto{% endblock %}

<!-- Navbar admin -->
{% block navbar %}
<div class="header">
    <nav class="navbar">
        <li><a href="/logout">Sair</a></li>
        <li><a href="/admin"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/search">Consultar</a></li>
    </nav>

</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <img src="{{url_for('.static', filename='img/packages.png')}}" class="img-responsive" width="128px"
             height="128px">

        <form method="POST">
            <fieldset>
                <legend>Compra de Produto</legend>

                <div class="form-group">
                    <label for="productId">Produto:</label>
                    <br>
                    <select name="productId" id="productId">
                        {% for p in produtos %}
                        <option value="{{ p.id }}">{{ p.nome }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="qtdProduto">Quantidade:</label>
                    <input type="number" id="qtdProduto" class="form-control" placeholder="Quantidade do produto."
                           name="qtdProduto" required/>
                    <br>
                    <label for="vlrCompra">Preço de Compra:</label>
                    <input type="number" id="vlrCompra" class="form-control" placeholder="Valor do produto."
                           name="vlrCompra" required/>
                </div>
                <button type="submit" class="btn btn-lg btn-primary" value="Select">Adicionar</button>
            </fieldset>
        </form>
        <br>
        {% if sucesso %}
        <div class="alert alert-success text-center" role="alert"><p>{{sucesso}}</p></div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert"><p>{{error}}</p></div>
        {% endif %}
    </div>
</div>
{% endblock %}